doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='./styles/homepage.css')
    title Steel Project
  body
    // Navbar
    nav.navbar.fixed-top
      .left-brand
        a(href='/')
          img(src='/image/logo2.png' width='60', height='60')
        a(href='/') Thép kim đồng
      ul.right-brand
        li.donhang
          a(href='/post') dữ liệu
    // end of navbar
    // header
    .container
      // left-side
      .print-show
        .header
          .logo
            img(src='/image/logo2.png' width='60', height='60')
            p thep kim dong
          .company
            p.company-name công ty tnhh thép kim ĐỒNG
            .company-business
              p.business Kinh doanh:
              .business-content
                p thép tấm, thép lá, thép hình u - i - v
                p cắt - chấn - cuốn ống
                p cắt lazer cnc - gia công cơ khí
        .address
          p Đ/c: A26c, KP.5, P.Tân Hiệp, Biên Hòa - DĐ: 0913.814.268 - 0913.731.989 - 0902.997.128
        .main-content
          .title
            p phiếu giao hàng
            .title-info
              p Ngày
              p Mã số đơn hàng
          .customer
            .customer-info
              p.customer-name Khách hàng
              p.customer-phone Điện thoại
          .products
            table
              tr
                th STT
                th 
                  span Loại hàng
                  span (đơn vị: mm)
                th  Đơn vị tính
                th  Số lượng
                th  Đơn giá
                th  Thành tiền
              tr
                td 1
                td  
                td  
                td  
                td  
                td
              tr
                td(colspan='5')   Tổng
                td
          .products-delivery
            .delivery-date
              p Ngày giao
              input(type='text')
            .debt
              p Công nợ
        .technical-notice
          p Dung sai độ dày 5%, trọng lượng tính theo barem.
        .sign
          .sign-receiver
            p Người nhận
          .sign-deliver
            p Người lập phiếu
      // right-side
      .input-fields
        .bill-order
        
        .species
          .select
          .input
          .specific-img
            img(src='' alt='image here')
        .thick
          p Độ dày
          input(type='text')
        .parameters
          p Thông Số
          p Dòng này phụ thuộc vào select
        .length
          p Dài
          input(type='text')
        .mass
          p Khối lượng
          p Result
        .amount
          p Số lượng
          input(type='text')
        .unit-price
          table
            tr
              th(colspan='6') Đơn giá
            tr
              th Thép
              th Chấn
              th Cuốn
              th Đột lỗ
              th CNC
              th Công
            tr
              td 
                input(type='text')
              td 
                input(type='text')
              td 
                input(type='text')
              td 
                input(type='text')
              td 
                input(type='text')
              td 
                input(type='text')
        .gia-cong
          p Gia công
          button Đã xong
        
    // end of header      

    
    script(src='js/main.js')
