doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='./styles/custom.css')
    title Steel Project
  body
    // navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') SẮT THÉP KIM ĐỒNG
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Sản phẩm
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Thanh toán
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Dropdown
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit')
            | Search
    .jumbotron
      img(src='./image/logo2.png', alt='logo here', width='300p')
      h1.display-4 Công ty TNHH Thép Kim Đồng
      p.lead Kinh doanh: Thép tấm, Thép lá, Thép hình UIV, Cắt - Chấn - Cuốn ống,
      p Địa chỉ: i18A, Kp5, P.Tân Hiệp, BH-ĐN
      hr.my-4
    // Bắt đầu nội dung App
    .container
      h1#header BẢNG BÁO GIÁ
      hr
    #bangtinh
      #dulieu
        #khachhang
          label(for='customer') Khách hàng:
          input#customer(type='text', name='customer', placeholder='Nhập tên khách hàng' autofocus)
          hr
        .container
          form.form-group
            .form-group.mx-sm-3.mb-2
              input#searchInput.form-control(onkeyup='searchItem()', onchange='searchItem()', type='text', placeholder='Tìm kiếm đơn hàng theo tên khách hàng')
        #dataSaved.container(width='100%')
          
          table#table1
            thead.thead-dark
              tr
                th Chọn đơn hàng
                th(scope='col') Tên khách hàng
                th(scope='col') Loại thép
                th(scope='col') Số lượng
                th(scope='col') Đơn giá
                th(scope='col') Thành tiền
                th(scope='col') Ghi chú
            tbody#tbodyShowItems
            tbody
              tr
                td.totalPrice(colspan='5') Cộng tiền hàng
                td(colspan='2')
                  span#totalPrice
        // Dữ liệu tính toán
        #luu-du-lieu
          #saveButton
            a.btn.btn-primary.mr-2(href='#table2', onclick='LuuDuLieu()') Lưu đơn hàng mới
          a.btn.btn-primary.mr-2(href='#table2', onclick='tinhtien()') Tính tiền
          #editItem
          a.btn.btn-danger.mr-2(href='#table1', onclick='deleteItems()') Xóa đơn hàng
        table#table2
          tbody
            tr
              th Loại thép
              td
                select#select(name='')
                  option(value='option') Select 1 option below
                  option(value='C') Loại C
                  option(value='L') Loại L
                  option(value='Tấm') Tấm
                  option(value='Vít') Vít
                  option(value='Ống') Ống
                  option(value='Z, U') Z, U
                  option(value='Tròn') Tròn
                  option(value='Vành') Vành
            tr
              th Cánh 2
              td
                input#canh2(type='text', placeholder='Cánh 2')
            tr
              th Cánh 1
              td
                input#canh1(type='text', placeholder='Cánh 1')
            tr
              th Bụng, FI
              td
                input#bung(type='text', placeholder='Bụng, FI')
            tr
              th Cao
              td
                input#cao(type='text', placeholder='Cao')
            tr
              th Dài
              td
                input#dai(type='text', placeholder='Dài')
            tr
              th Dày
              td
                input#day(type='text', placeholder='Dày')
            tr
              th Gia công
              td
                input#giacong(type='text', placeholder='Cắt, Chấn, Ống, Vít')
            tr
              th Số lượng
              td
                input#soluong(type='text', placeholder='Số lượng')
            tr
              th Khối lượng
              td
                input#khoiluong(type='text', placeholder='Khối lượng', readonly='')
            tr
              th Đơn giá
              td
                input#dongia(type='text', placeholder='Đơn giá', readonly='')
            tr
              th Thành tiền
              td
                input#thanhtien(type='text', placeholder='Thành tiền', readonly='')
            tr
              th Phôi
              td
                input#phoi(type='text', placeholder='Phôi', readonly='')
        
    script(src='js/main.js')
