@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #ffffff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav a {
    color: #ff8d52;
}

nav>.navbar-brand {
    flex: 1;
    margin: 0px 15px;
}

.light-font {
    font-weight: 400;
    margin: 0px;
}

.bold-font {
    font-weight: 800;
    font-size: 2rem;
    margin: 0px;
    letter-spacing: 0.5rem;
    line-height: 1rem;
}

nav>ul {
    flex: 1;
    margin: 10px 0px 0px 0px;
    list-style: none;
    text-decoration: none;
}

nav>ul>li {
    display: flex;
    justify-content: space-around;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 20px;
}

nav>ul>li>a:hover {
    color: rgb(60, 179, 113);
    transition: 400ms;
}

.navbar-brand:hover {
    color: rgb(60, 179, 113);
    transition: 400ms;
}

body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
    width: 80%;
    height: 40vh;
    margin: auto;
    background: #fc4a1a;
    opacity: 0.8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron>.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-4 {
    margin: 150px 0px 0px 0px;
    color: white;
    font-weight: 700;
}

.jumbotron p {
    margin: 20px 0px 0px 0px;
    font-size: 1.5rem;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

#header {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 4rem;
    color: rgb(60, 179, 113);
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#khachhang {
    width: 100%;
    height: 8vh;
    margin: 10px 0px 0px 0px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

#khachhang label {
    margin-left: 20px;
}

#khachhang input {
    border: none;
    outline: none;
    margin-left: 5px;
    padding: 0px 5px;
    border-bottom: 1px solid #666;
}

#khachhang input[type=text]:focus {
    border-bottom: 2px solid rgb(60, 179, 113);
    transition: 500ms;
    width: 500px;
}

#customer {
    border: none;
    outline: none;
    background-color: whitesmoke;
}

table {
    margin-bottom: 20px;
    border: none;
}

#table1 th, #table1 td {
    border: none;
}

#table1 th {
    width: 300px;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: black;
    border: none;
    border-bottom: 1px solid #666;
}

#table1 td {
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: black;
    border: none;
    border-bottom: 1px solid #666;
}

.chondonhang {
    width: 400px;
}

.tenkhachhang {
    width: 1000px;
}

.btn-info {
    width: 140px;
    background-color: rgb(60, 179, 113);
}

.btn-danger {
    width: 140px;
}

#table1 .totalPrice {
    height: 100px;
    text-align: right;
    margin-right: 20px;
}

.tongtien {
    text-align: left;
    margin-left: 15px;
}

#table2 {
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

#table2 th, #table2 td {
    border: none;
}

#table2 th {
    width: 250px;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    background-color: rgb(60, 179, 113);
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

#table2 td {
    width: 400px;
    padding: 5px;
    text-align: left;
    font-weight: 500;
    color: white;
    border: none;
}

#table2 tr:last-child {
    border: none;
}

#luu-du-lieu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form {
    display: flex;
}

#searchInput {
    width: 350px;
    text-align: center;
}

.trDonHang:hover {
    background-color: rgb(60, 179, 113);
    cursor: pointer;
}

#Nutxuly {
    margin-bottom: 10px;
}

#Nutxuly button {
    box-shadow: 1px 3px 5px black;
}

#Nutxuly a {
    box-shadow: 1px 3px 5px black;
}

@media screen and (max-width: 1090px) {
    nav {
        width: 100%;
    }
    .jumbotron {
        width: 100%;
    }
}

@media screen and (max-width: 870px) {
    nav {
        width: 100%;
    }
    .jumbotron {
        width: 100%;
        height: 40vh;
    }
    .jumbotron>.content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .display-4 {
        margin: 150px 0px 0px 0px;
        color: white;
        font-weight: 500;
        font-size: 2.5rem;
    }
    .jumbotron p {
        margin: 20px 0px 0px 0px;
        font-size: 1.3rem;
        color: white;
    }
}