* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  background-color: white !important;
  font-family: "Times New Roman", Times, serif;
  height: 100vh;
}

.header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 300px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
}

.logo p {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.company-info {
  flex: 2;
  line-height: 2rem;
}

.company-name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.big-name {
  font-size: 1.2rem;
}

.line {
  width: 80%;
  margin: 0 auto;
}

.contact p {
  font-weight: bold;
  font-size: 1.2rem;
}

.bill {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.bill-tilte {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.bill-contact {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.2rem;
}

.dotted-line {
  border-bottom: 1px dotted black;
}

table {
  width: 80%;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 5px 0px;
}

.note {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.sign {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.sign-col-1 {
  flex: 1;
  padding: 0 30px;
}

.first-line {
  margin: 10px 20px;
}
.first-line span {
  padding: 0px 5px;
}

.sign-col-1 i {
  font-size: 30px;
}

.sign-col-1 p {
  width: 500px;
  padding: 5px 50px;
}

.bold-text {
  font-weight: bold;
}
#kyten .bold-text {
  padding: 5px 60px;
}

#kyten .kyten {
  padding: 0px 65px;
}

.sign-col-2 {
  flex: 2;
  padding: 2px 30px;
}

.sign-col-2 p {
  width: 500px;
  padding: 5px 50px;
}
